
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('http://ironsummitmedia.github.io/startbootstrap-clean-blog/img/about-bg.jpg')">
   <div class="container">
       <div class="row">
           <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
               <div class="page-heading">
                   <h1>About Us</h1>
                   <hr class="small">
                   <span class="subheading">This is what we do.</span>
               </div>
           </div>
       </div>
   </div>
</header>

<!-- Main Content -->
<div class="container">
   <div class="row">
       <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
           <p>At posta we take learning and web development seriously therefore we have strated this hub to enlist young developers and help them jumpstart their ideas and careers early using our available resources </p>
           <p>We deal with web development, applicatons, ios and ground breaking ideas wich we can implement and cash in like startups providing them with the necessary equipments and seed funding </p>
           <p>We take Developers both novices and amatures, professionals too and eager learners and work with them to come up with unique solutions and ideas which we can collaborate and help on</p>
       </div>
   </div>
</div>
